.box {}

body {
    margin: 0px;
    /* background: url(assets/bg.jpg); */
    background-color: #06b100;
}

.overlayButton {
    position: absolute;
}

.iconborder {
    /* background-color: lightcoral;
    position: fixed;
    width: 100px;
    height: 100px; */
}